<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
	TWEB Poll app
	<small>login</small>
  </h1>
  <ol class="breadcrumb">
	<li><a ui-sref="home"><i class="fa fa-dashboard"></i> Home</a></li>
	<li class="active">Login</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
		<div class="col-md-6">
      <!-- Horizontal Form -->
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Login</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" ng-submit="submit()">
          <div class="box-body">
            <div ng-show="error" class="alert alert-danger">
              <strong>Error!</strong> {{error}}
            </div>
            <div class="form-group">
              <label for="inputUsername" class="col-sm-2 control-label">Username</label>

              <div class="col-sm-10">
                <input type="username" ng-model="username" class="form-control" id="inpuUsername" placeholder="Username">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label">Password</label>

              <div class="col-sm-10">
                <input type="password" ng-model="password" class="form-control" id="inputPassword" placeholder="Password">
              </div>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-info pull-right">Sign in</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>