<!DOCTYPE html>
<html ng-app="poll">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Pollspeak app</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="/src/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">
  <!-- Website logo -->
  <link rel="icon" type="image/png" href="dist/img/logo.png" />

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header" ng-controller="HeaderCtrl">
    <!-- Logo -->
    <a ui-sref="home" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>P</b>oll</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Poll</b>speak</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Login -->
          <li class="dropdown user user-menu" ng-hide="logged">
            <a ui-sref="login" class="dropdown-toggle" data-toggle="dropdown">
              <span class="hidden-xs">Login</span>
            </a>
          </li>
          <!-- Register -->
          <li class="dropdown user user-menu" ng-hide="logged">
            <a ui-sref="register" class="dropdown-toggle" data-toggle="dropdown">
              <span class="hidden-xs">Register</span>
            </a>
          </li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu" ng-show="logged">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">{{firstname}} {{lastname}}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                <p>
					{{firstname}} {{lastname}}
                  <small>Member since {{createdAt | date:"dd/MM/yyyy 'at' h:mma"}}</small>
                </p>
              </li>

              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a ui-sref="profile" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a class="btn btn-default btn-flat" ng-click="signout()">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar" ng-controller="SidebarCtrl">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- search form -->
      <form ng-submit="joinRoom()" class="sidebar-form">
        <div class="input-group">
          <input type="text" ng-model="roomId" name="q" class="form-control" placeholder="Join a room...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-play"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
		  <li ui-sref-active="active"><a ui-sref="home"><span>Home</span></a></li>
		  <li ui-sref-active="active"><a ui-sref="help"><span>Help</span></a></li>
        <!--
        <li class="treeview">
          <a>
            <i class="fa fa-dashboard"></i> <span>Joined rooms</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a ui-sref="room"><i class="fa fa-circle-o"></i>Room 125963</a></li>
            <li><a ui-sref="room"><i class="fa fa-circle-o"></i>Room 543630</a></li>
          </ul>
        </li>
        -->
        <li class="treeview" ng-show="logged">
          <a>
            <i class="fa fa-bars"></i>
            <span>My rooms</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li ng-repeat="(key, value) in rooms"><a ui-sref="room({id: '{{value._id}}'})"><i class="fa fa-circle-o"></i>{{value.name}}</a></li>
          </ul>
        </li>
        <li ng-show="logged"><a ui-sref="roomCreate"><i class="fa fa-plus text-red"></i> <span>Create new room</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
		<!-- Include sub-view with UI-Router -->
		<div ui-view></div>
    <!-- /.content -->
  </div>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab">
      </div>
      <!-- /.tab-pane -->

      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">

      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->

  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2016 <a href="">Antoine Drabble & Guillaume Serneels</a>.</strong> All rights
    reserved.
  </footer>


</div>
<!-- ./wrapper -->

<!-- injector:js -->
<script src="/src/bower_components/jquery/dist/jquery.js"></script>
<script src="/src/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/src/bower_components/angular/angular.js"></script>
<script src="/src/bower_components/angular-touch/angular-touch.js"></script>
<script src="/src/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/src/bower_components/angular-aria/angular-aria.js"></script>
<script src="/src/bower_components/angular-mocks/angular-mocks.js"></script>
<script src="/src/bower_components/angular-cookies/angular-cookies.js"></script>
<script src="/src/bower_components/angular-animate/angular-animate.js"></script>
<script src="/src/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="/src/bower_components/angular-resource/angular-resource.js"></script>
<script src="/src/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/src/bower_components/jquery-ui/jquery-ui.js"></script>
<script src="/src/bower_components/chart.js/dist/Chart.js"></script>
<script src="/app/app.js"></script>
<script src="/app/app.config.js"></script>
<script src="/app/modules/header/headerModule.js"></script>
<script src="/app/modules/help/helpModule.js"></script>
<script src="/app/modules/home/homeModule.js"></script>
<script src="/app/modules/login/loginModule.js"></script>
<script src="/app/modules/profile/profileModule.js"></script>
<script src="/app/modules/register/registerModule.js"></script>
<script src="/app/modules/room/roomModule.js"></script>
<script src="/app/modules/roomCreate/roomCreateModule.js"></script>
<script src="/app/modules/sidebar/sidebarModule.js"></script>
<script src="/app/modules/help/helpRoute.js"></script>
<script src="/app/modules/home/homeRoute.js"></script>
<script src="/app/modules/login/loginRoute.js"></script>
<script src="/app/modules/profile/profileRoute.js"></script>
<script src="/app/modules/register/registerRoute.js"></script>
<script src="/app/modules/room/roomRoute.js"></script>
<script src="/app/modules/roomCreate/roomCreateRoute.js"></script>
<script src="/app/modules/header/headerCtrl.js"></script>
<script src="/app/modules/help/helpCtrl.js"></script>
<script src="/app/modules/home/homeCtrl.js"></script>
<script src="/app/modules/login/loginCtrl.js"></script>
<script src="/app/modules/profile/profileCtrl.js"></script>
<script src="/app/modules/register/registerCtrl.js"></script>
<script src="/app/modules/room/roomCtrl.js"></script>
<script src="/app/modules/roomCreate/roomCreateCtrl.js"></script>
<script src="/app/modules/sidebar/sidebarCtrl.js"></script>
<script src="/app/modules/header/headerService.js"></script>
<script src="/app/modules/help/helpService.js"></script>
<script src="/app/modules/home/homeService.js"></script>
<script src="/app/modules/login/loginService.js"></script>
<script src="/app/modules/profile/profileService.js"></script>
<script src="/app/modules/register/registerService.js"></script>
<script src="/app/modules/room/roomService.js"></script>
<script src="/app/modules/roomCreate/roomCreateService.js"></script>
<script src="/app/modules/services/socketioService.js"></script>
<script src="/app/modules/sidebar/sidebarService.js"></script>
<!-- endinjector -->

<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- AdminLTE App -->
<script src="dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="dist/js/demo.js"></script>
<!-- Socketio -->
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

</body>
</html>
